body{
    
    background:whitesmoke;
}
body{
    text-align: center;
    background-color:whitesmoke;
}
header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#1b4f72;
    font-size: 20px;
    margin-top: 8%; 
    margin-left: -700px; 
}

header,.Form{
    display: inline-block;
}

.form{
    border-radius: 3%;
    width: 300px;
    height: 580px   ;
    background: white;
    font-size: 10px;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;

}
.form h3{
    margin-right: 195px;
}



 .divform{
    margin-left: 750px;
    margin-top:-400px;
}


.form input{
    border-radius: 4%;  
    height: 15px;
    width: 72%;
    
}
select{
    border-radius: 4%;  
    height: 20px;
    width: 75%;


}

.form button{
    border-radius: 4%;
    width: 150px;
    height: 40px;
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #1b4f72;
    color: white;
    font-weight: bold;
    font-weight: 30px;
}

img{
    width: 300px;
}
.userimg{
    padding-top: 20px;
    width: 100px;
}