body{
    text-align: center;
    background:whitesmoke;
}

header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#1b4f72;
    font-size: 26px;
    margin-top: 8%; 
    margin-left: -600px; 
}
header h3{
    color: black;
    font-weight: 100;
}
header,.form{
    display: inline-block;
}
.form{
    border-radius: 3%;
    background: white;
    width: 400px;
    height: 100%;
}
.divform{
    margin-left: 500px;
    margin-top: -400px;
}

.form input{
    border-radius: 4%;
    margin-top: 20px;
    height: 35px;
    width: 84%;
    
}
.form h3{
    margin-right: 250px;
    margin-bottom: -10px;
}
.form button{
    border-radius: 4%;
    width: 200px;
    height: 40px;
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #1b4f72;
    color: white;
    font-weight: bold;
    font-weight: 30px;
}
img{
    width: 200px;
}
.userimg{
    padding-top: 20px;
    width: 70px;
}