body{
    background: whitesmoke;
}
header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#1b4f72;
    font-size: 26px;
    margin-top: 15px;
    margin-left: -1000px;

}

img{
    width: 200px;
}

.datosIngreso{
    width: 400px;
    height: 900px;
    background: rgb(30, 131, 199);
    color: black;
    top: 90%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.form button{
    background: black;
}

select{
    border-radius: 4%;
    height: 3%;
    width: 72%;
}

div{
    border-radius: 4%;
    width: 72%;
}

.menu-vertical {
    background-color: #1b4f72;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;

}

.menu-vertical > li:hover{
    background-color: white;
}

.menu-vertical a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
}

.dropdown-menu dropdown-menu-dark{
    display: block;
}