header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#1b4f72;
    font-size: 26px;
    margin-top: 10%; 
    margin-left: -600px; 
}

img{
    width: 200px;
}

.datosIngreso{
    width: 400px;
    height: 860px;
    background: rgb(30, 131, 199);
    color: black;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.form button{
    background: black;
}

select{
    border-radius: 4%;
    height: 3%;
    width: 72%;
}

div{
    border-radius: 4%;
    width: 72%;
}
